<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>222704034376-g7fksia6c9v370g2dbr05kmll5c9hv4l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.222704034376-g7fksia6c9v370g2dbr05kmll5c9hv4l</string>
	<key>API_KEY</key>
	<string>AIzaSyB8moSwlz_EREDXWuMH1CKecnonFVloA-g</string>
	<key>GCM_SENDER_ID</key>
	<string>222704034376</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tgluisangel.IphoneIpadFirebase</string>
	<key>PROJECT_ID</key>
	<string>iostest1-f25f0</string>
	<key>STORAGE_BUCKET</key>
	<string>iostest1-f25f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:222704034376:ios:cc19aa8b75e0f469632e7d</string>
</dict>
</plist>